@model CharityDB.net5.Models.donations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>donations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donationPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donationPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banktype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banktype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.donationsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
