@model IEnumerable<CharityDB.net5.Models.donations>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donationPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banktype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donationPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banktype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.donationsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.donationsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.donationsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
